<!DOCTYPE html>
<html lang="en">
<head>
    <title>HTTP CLI LOGGER</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>HTTP CLI LOGGER</h2>
    <p>The list of received requests:</p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Method</th>
            <th>RemoteAddr</th>
            <th>Rerquest</th>
        </tr>
        </thead>
        <tbody>
        {{ range $i, $d := . }}
        <tr>
            <td>{{ $i }}</td>
            <td>{{ .Date.Format "02-01-2006 15:04:05 MST" }}</td>
            <td>{{ .Method }}</td>
            <td>{{ .RemoteAddr }}</td>
            <td>{{ .PrintString }}</td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</div>

</body>
</html>
